@{
    ViewBag.Title = "About Nice Guyz ";
}
<h2>@ViewBag.Title.</h2>
<h3>Please register and as a member or coach or admin</h3>

<p>We are just nice people playing tennis.</p>
<p> Enjoy your stay :) </p>